* {
    font-family: "Poppins", sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background:url('bg.jpg') no-repeat;
    background-size:cover;
    background-position: center;
}

.yi {
    width:500px;
    background:transparent;
    border: 1px solid rgb(221, 250, 255);
    color:rgb(255, 255, 255);
    border-radius: 20px;
    padding: 30px 40px;
}

.yi h1 {
    font-size: 50px;
    text-align: center;

}

.yi .input-box {
    width:100%;
    height:100%;

}

.input-box input {
    width:450px;
    height:35px;
    background: whitesmoke;
    border: 3px solid rgb(189, 244, 253);
    border-radius: 40px;
    font-size: 20px;
    padding: 5px;
    color:rgb(30, 0, 99);
}

.input-bos input {
    width:450px;
    height:35px;
    background: whitesmoke;
    border: 3px solid rgb(162, 249, 185);
    border-radius: 40px;
    font-size: 20px;
    padding: 5px;
    color:rgb(10, 19, 19);
}

.yi .btn {
    width:200px;
    height:35px;
    background: whitesmoke;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 40px;
    font-size: 20px;
    color:rgb(30, 0, 99);
}