body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bgphoto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    background-color: rgba(255, 255, 255, 0.8); /* Adding some opacity to the form background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}